<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ramzone App</title>
</head>
<body>
<header>

    <nav>
        <a href="/clrp/home">Home </a> ||
        <a href="/clrp/customer/list">Customers</a> ||
        <a href="/clrp/api/customer/plantinumhonors/list"> Plantinum Honors Customers  </a> ||


    </nav></header>

<div >
    <h1> Welcome to  the Customer Loyalty Rewards (CLR) Program</h1>
    <hr>
    <p> At Ramazone we offer our loyal customers we best products and service . Find out and learn how we can serve you with our widest variety of good and lots other digitail content </p><hr>
    <p>At Ramazone we offer our loyal customers we best products and service . Find out and learn how we can serve you wAt Ramazone we offer our loyal customers we best products and service . Find out and learn how we can serve you w </p>
</div>


</body>
</html>